.vagrant
.oardocker
*.py[co]
*~
*.log
*#
**#
*.egg
*.egg-info
dist
build
src/
eggs
parts
sdist
# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.coverage.*.*.*
.cache
.tox
*.tar.gz
env
htmlcov
