[run]
branch = True
source = src
parallel = true
omit=
	oar/cli/db/*
	oar/kao/coorm.py
	oar/rest_api/proxy.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
