[run]
branch = True

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError

omit =
    oar_kao/helpers.py
    oar_kao/batsim.py
    oar_kao/simsim.py
    bench/minibench.py       
    bench/plot_minibench.py 
