Source: oar3
Maintainer: Pierre Neyron <pierre.neyron@free.fr>
Uploaders: Vincent Danjean <vdanjean@debian.org>
Section: utils
Priority: extra
Build-Depends: debhelper (>= 9),
               po-debconf,
               perl,
               python3-sphinx
Standards-Version: 4.0.0
Vcs-Git: https://github.com/oar-team/oar3.git/ -b debian.org
Homepage: http://oar.imag.fr/

Package: oar-doc
Architecture: all
Section: doc
Depends: ${misc:Depends},
         libjs-jquery,
         libjs-underscore
Description: OAR batch scheduler documentation package
 OAR is a versatile resource and task manager (also called a batch scheduler)
 for clusters and other computing infrastructures
 .
 This package install some documentation for OAR batch scheduler


