Source: oar3
Maintainer: Pierre Neyron <pierre.neyron@free.fr>
Uploaders: Vincent Danjean <vdanjean@debian.org>
Section: utils
Priority: extra
Build-Depends: debhelper (>= 9),
               po-debconf,
               perl,
               dh-python,
               python3-all,
               python3-setuptools,
               python3-sphinx
Standards-Version: 4.0.0
Vcs-Git: https://github.com/oar-team/oar3.git/ -b debian.org
Homepage: http://oar.imag.fr/

Package: python3-oar
Architecture: any
Section: python
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-procset,
         python3-psycopg2,        
         python3-sqlalchemy,
         python3-sqlalchemy-utils,
         python3-alembic,
         python3-flask,
         python3-tabulate,
         python3-click,
         python3-zmq,
         python3-requests,
         python3-simplejson,
         python3-psutil 
Description: OAR batch scheduler library package
 OAR is a versatile resource and task manager (also called a batch scheduler)
 for clusters and other computing infrastructures.
 This package install core librairy and addition script for OAR batch scheduler

Package: oar-doc
Architecture: all
Section: doc
Depends: ${misc:Depends},
         libjs-jquery,
         libjs-underscore
Description: OAR batch scheduler documentation package
 OAR is a versatile resource and task manager (also called a batch scheduler)
 for clusters and other computing infrastructures
 .
 This package install some documentation for OAR batch scheduler

Package: oar-common
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         ${perl:Depends},
         python3-oar (= ${binary:Version}),
         adduser,
         ucf
Suggests: oar-server,
          oar-user,
          oar-node,
          oar-doc
Description: OAR batch scheduler common package
 OAR is a versatile resource and task manager (also called a batch scheduler)
 for clusters and other computing infrastructures
 .
 This package installs the common part of the OAR batch scheduler

Package: oar-server
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         ${perl:Depends},
         openssh-client,
         cron,
         lsb-base,
         oar-common (= ${binary:Version}),
         perl
Suggests: postgresql,
          taktuk,
          phppgadmin,
          oar-node,
          oar-doc,
          openssh-server
Description: OAR batch scheduler server package
 OAR is a versatile resource and task manager (also called a batch scheduler)
 for clusters and other computing infrastructures.
 This package installs the server part of the OAR batch scheduler.

Package: oar-node
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         openssh-client,
         openssh-server,
         lsb-base (>= 3.0-6),
         oar-common (= ${binary:Version})
Suggests: oar-doc,
          xauth
Description: OAR batch scheduler node package
 OAR is a versatile resource and task manager (also called a batch scheduler)
 for clusters and other computing infrastructures
 .
 This package installs the execution node part of the OAR batch scheduler

Package: oar-user
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         oar-common (= ${binary:Version}),
Suggests: oar-doc,
          openssh-client,
          xauth
Description: OAR batch scheduler user package
 OAR is a versatile resource and task manager (also called a batch scheduler)
 for clusters and other computing infrastructures
 .
 This package install the submission and query part of the OAR batch scheduler.

Package: oar-web-status
Architecture: all
Section: web
Depends: ${misc:Depends},
         ${shlibs:Depends},
         apache2 | httpd-cgi,
         ${perl:Depends},
         libdbi-perl,
         libdbd-pg-perl,
         libtie-ixhash-perl,
         libappconfig-perl,
         libsort-naturally-perl,
         php,
         php-pgsql
Suggests: oar-doc
Description: OAR batch scheduler visualization tool package
 OAR is a versatile resource and task manager (also called a batch scheduler)
 for clusters and other computing infrastructures
 .
 This package install the OAR batch scheduler web interfaces: drawgantt-svg
 and monika.

Package: oar-restful-api
Architecture: any
Section: net
Depends: ${misc:Depends},
         ${shlibs:Depends},
         ${perl:Depends},
         oar-user,
         apache2 | httpd-cgi
Suggests: oar-doc,
          oar-server,
          apache2,
          apache2-suexec-custom
Description: OAR web services
 OAR is a versatile resource and task manager (also called a batch scheduler)
 for clusters and other computing infrastructures   
 .
 This package installs a RESTful API for oar users.